<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar primary>    
    <ion-title>Sugerencias</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h5>Que te gustaría hacer?</h5>

  <ion-list radio-group [(ngModel)]="tipo">
  <ion-item>
    <ion-label>Informar de un error</ion-label>
    <ion-radio value="error"></ion-radio>
  </ion-item>
   <ion-item>
    <ion-label>Solicitar una nueva función en la app</ion-label>
    <ion-radio value="new_function"></ion-radio>
  </ion-item>
  <ion-item >
    <ion-label class="sug-item">Informar sobre un problema con un pedido</ion-label>
    <ion-radio (click)="presentModalPedidos()" value="Pedido"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label class="sug-item">Informar sobre un problema con la entrega</ion-label>
    <ion-radio (click)="presentModalPedidos()" value="Servicio_transportista"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>Otros</ion-label>
    <ion-radio value="Otro"></ion-radio>
  </ion-item>
</ion-list>

  
	<ion-list>
		<ion-item>
			<ion-label stacked>Tu sugerencia</ion-label>
			<ion-input [(ngModel)]="observacion" type="text"></ion-input>
		</ion-item>
    <div padding>
		<button ion-button secondary block (click)="enviarSugerencia()">Enviar</button>
    </div>
	</ion-list>
 

</ion-content>
