<ion-header>
  <ion-navbar orange hideBackButton="true">
    <ion-buttons class="est-btn-lft" icon-only clean (click)="gotoConfirmarCompra()" start>
			<button ion-button>
        <ion-icon name="locate"></ion-icon>
        Aceptar 
    		</button>
		</ion-buttons>

    <ion-buttons class="est-btn-lft" icon-only clean (click)="gotoCerrar()" end>
			<button ion-button>
        <ion-icon name="close"></ion-icon>
        Cancelar 
    		</button>
		</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="about">  
  <div class='pin'></div>
  <div class='pulse'></div>  
  <map-component></map-component>
</ion-content>