@import '../_vars';

.foregroud-cat {
    width: 100%;
    height: 170px;
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
}

.padding-head{
    padding-left: 70px;
}

.img-rest {
    width: 70px;
    border-radius: 50%;
    /*border: 1px solid #ccc;*/
    position: absolute;
    top: 15%;
    box-shadow: 1px 1px #fff;
}

.main-title{
    top: 13% !important;
}

.main-title-txt{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px #000;
}

.sbtitle-cat{
    top: 43% !important;
    color: #ffef54 !important;
}
.star-rating__star{
    font-size: 1.5em;
    text-shadow: 1px 1px $white;
}

.card-categoria{
    p{
        color: #000 !important;
        text-shadow: 1px 1px $white !important;
    }
}

.rest-cat-header{
    margin: 0;
    width: 100%;
}

.cat-sbtitle-txt{
    line-height: 1;
}