<ion-header>
	<ion-navbar primary hideBackButton="true">
		<ion-buttons class="est-btn-lft" icon-only clean (click)="onPageBack()" start>
			<button ion-button>     
      			<ion-icon name="arrow-back"></ion-icon> 
    		</button>
		</ion-buttons>
		<ion-title>{{datosSucursal.nombre_sucursal}}</ion-title>
		<!--CARRITO-->
		<ion-buttons *ngIf="lista_productos && lista_productos.length > 0" (click)="verCarrito()" end>
			<button round>        
      <ion-icon item-left name="md-cart" ></ion-icon> 
      <ion-badge>{{lista_productos.length}}</ion-badge>      
      </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content class="card-background-page">



	<ion-card class="rest-cat-header">
		<div class="category-sec">
			<img style="height:170px;" src="{{datosSucursal.id_proveedor.id_categoria.ruta_foto}}" />
			<div class="foregroud-cat"></div>
		</div>
		<ion-card-content class="cat-main-head">
			<img class="img-rest" style="height:70px;" src="{{datosSucursal.id_proveedor.id_perfil.ruta_foto}}" />
			<ion-card-title>
				<div class="card-title padding-head main-title">
					<h2 class="main-title-txt">{{datosSucursal.nombre_sucursal}}</h2>
					<p class="cat-sbtitle-txt">({{datosSucursal.id_proveedor.id_categoria.categoria}})</p>
					<!--<p (click)="facebookShare()">compartir fb</p>-->
				</div>
				<!-- <div class="card-categoria">
				<p>{{datosSucursal.id_proveedor.id_categoria.categoria}}</p>
			</div>-->
			</ion-card-title>

			<div class="card-subtitle padding-head sbtitle-cat">
				<p class="cat-sbtitle-txt">{{datosSucursal.descripcion}}</p>
				<label class="star-rating__star is-selected" onmouseover="select(this)" onmouseout="normal(this)">★</label>
				<label class="star-rating__star is-selected" onmouseover="select(this)" onmouseout="normal(this)">★</label>
				<label class="star-rating__star is-selected" onmouseover="select(this)" onmouseout="normal(this)">★</label>
				<label class="star-rating__star is-selected" onmouseover="select(this)" onmouseout="normal(this)">★</label>
				<label class="star-rating__star is-selected" onmouseover="select(this)" onmouseout="normal(this)">★</label>
			</div>
		</ion-card-content>
	</ion-card>

	<!-- Segmento Menu & información -->
	<ion-segment [(ngModel)]="menu" primary inset>
		<ion-segment-button value="menu">
			<ion-icon name="restaurant"> </ion-icon> Menú
		</ion-segment-button>
		<ion-segment-button value="info">
			<ion-icon name="information-circle"> </ion-icon> Información
		</ion-segment-button>
	</ion-segment>
	<!-- Fin Segmento Menu & indormación -->

	
	<div [ngSwitch]="menu">

		<ion-list *ngSwitchCase="'menu'" inset>
			<ion-item *ngFor="let categoria of lista_categorias" (click)="gotoMenu(categoria.id)">
				<h2>{{categoria.categoria}}</h2>

				<button ion-button clear item-right><ion-icon name="ios-arrow-forward-outline"></ion-icon></button>
			</ion-item>
		</ion-list>

		<ion-list *ngSwitchCase="'info'" inset>

			<h1 primary>{{datosSucursal.nombre_sucursal}}</h1>
			<p><strong>{{datosSucursal.descripcion}}</strong></p>

			<ion-item>
				<ion-icon name="time" item-left></ion-icon>
				<p><strong>Apertura: </strong>{{datosSucursal.dias_atencion}} de {{datosSucursal.hora_atencion}}</p>
			</ion-item>
			<ion-item>
				<ion-icon name="pin" item-left></ion-icon>
				<p><strong>Dirección: </strong>{{datosSucursal.id_direccion.calle_principal}}, {{datosSucursal.id_direccion.calle_secundarial}}</p>
			</ion-item>
			<ion-item>
				<ion-icon name="cash" item-left></ion-icon>
				<p *ngIf="datosSucursal.precio_envio != undefined "><strong>Precio de envio:</strong> ${{datosSucursal.precio_envio | number : '1.2-2'}}</p>
				<p *ngIf="datosSucursal.precio_envio == undefined "><strong>Precio de envio:</strong> Gratis </p>

			</ion-item>

		</ion-list>
	</div>
</ion-content>