@import '_fonts';
@import '_header-cat';
@import '../_vars';

.categorias {
  background: gold;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;

    p {
      color: $white;
      overflow: hidden;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      text-shadow: 1px 1px #000;
    }
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 90%;
    font-weight: bold;
    color:springgreen;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 90%;
    color: red;
  }
}

ion-card ion-card-content.cat-main-head {
    padding: 0 16px 0 16px;
}

ion-card ion-card-title {
    margin: 0;
    padding: 0;
}