<ion-header>
  <ion-navbar primary>
    <ion-title>
      Recuperar Contraseña
    </ion-title>
  </ion-navbar>
</ion-header>

  <ion-content class="popover-page" padding>
    
    <!--<div class="app-content">-->
      <div class="app-name">      
        <p>Ingresa tu correo electrónico y enviaremos un correo para que puedas recuperar tu contraseña</p>
      </div>    
      <form (ngSubmit)=envioPass()>
        
        <ion-item>        
            <ion-input id="email" type="email" required placeholder="Correo Electrónico" name = "email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <p>
          <button type="submit" ion-button color="secondary" block>Recuperar Contraseña</button>
        </p>
      </form>
    <!--</div>   -->
  </ion-content>
