<!--<ion-header>
  <ion-navbar primary>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>-->


<ion-content class="login-content" padding>

  <section class="login">
    <ion-img class="logo" src="../www/build/images/logo_blanco.png"></ion-img>
  </section>
  <!-- Segmento Login & Register -->
  <ion-segment [(ngModel)]="start">
    <ion-segment-button class="loginTabs" value="loginPage">
      Iniciar Sesión
    </ion-segment-button>
    <ion-segment-button class="loginTabs" value="registerPage">
      Registrate
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="start">
    <ion-list class="loginPage" *ngSwitchCase="'loginPage'">
      <section>
        <!--<ion-img class="logo" src="../www/build/images/logo_negro-rojo.png"></ion-img>-->
        <button white outline block (click)="loginFacebook()">
              <ion-icon name="logo-facebook"></ion-icon>
              Iniciar Sesión con Facebook      
        </button>
        <button white outline block (click)="loginGoogle()">
              <ion-icon name="logo-googleplus"></ion-icon>
              Iniciar Sesión con Google
        </button>
        <!--<button white outline block (click)="gotoHome()">Home(temporal)</button>-->
        <button white outline block (click)="showPasswordForm()">Email y Contraseña</button>

        <div *ngIf="loginPassword" class="password-panel">
            <p red class="login-lbl-center errorLogin">{{mensajeLoginUsuario}}</p>               
          <form (ngSubmit)="loginGoodAppetit()" [formGroup]="formUsuarioGa" novalidate>
            <ion-item>
              <ion-icon class="login-icon-reg" name="mail" item-left></ion-icon>
              <ion-input type="email" placeholder="Email o Usuario" [(ngModel)]="userGa.email" name="email" ngControl="email"></ion-input>
            </ion-item>
            <ion-item *ngIf="formUsuarioGa.controls.email.dirty && !formUsuarioGa.controls.email.valid">
              <p>Este campo es requerido</p>
            </ion-item>

            <ion-item>
              <ion-icon class="login-icon-reg" name="lock" item-left></ion-icon>
              <ion-input type="password" placeholder="Contraseña" [(ngModel)]="userGa.pass" name="pass" ngControl="pass"></ion-input>
            </ion-item>
            <ion-item *ngIf="formUsuarioGa.controls.pass.dirty && !formUsuarioGa.controls.pass.valid">
              <p>Este campo es requerido</p>
            </ion-item>
            <button type="submit" ion-button color="secondary" full [disabled]="!formUsuarioGa.valid">Entrar</button>
          </form>
          <ion-label white class="login-lbl-center">
            <button class="login-btn-licences" ion-button clear (click)="goToPswReset()">¿Olvidaste tu Contraseña?</button></ion-label>
          
        </div>

      </section>
    </ion-list>
    <ion-list class="registerPage" *ngSwitchCase="'registerPage'">
      <section>
        <p red class="login-lbl-center errorLogin">{{mensajeUsuarioRepeat}}</p> 
        <p red class="login-lbl-center errorLogin">{{mensajeCedulaRepeat}}</p>
        <p red class="login-lbl-center errorLogin">{{mensajeEmailRepeat}}</p> 
        <form (ngSubmit)="registrarUsuarioGoodAppetit()" [formGroup]="formUsuarioNuevo" novalidate>                              
          <!--<ion-item>            
            <ion-input type="text" placeholder="Usuario" [(ngModel)]="usuarioNuevo.usuario" name="usuario" formControlName="usuario" 
            (blur)='comprobarUsuarioGoodAppetit()'></ion-input>
            <!--(blur)='comprobarUsuarioGoodAppetit($event.target.value)'></ion-input>-->
          <!--</ion-item>          
          <ion-item *ngIf="formUsuarioNuevo.controls.usuario.dirty && !formUsuarioNuevo.controls.usuario.valid">
            <p>Este campo es requerido</p>
          </ion-item>-->

          <ion-item>            
            <ion-input type="text" placeholder="Nombres" [(ngModel)]="usuarioNuevo.nombres" name="nombres" formControlName="nombres"></ion-input>
          </ion-item>
          <ion-item *ngIf="formUsuarioNuevo.controls.nombres.dirty && !formUsuarioNuevo.controls.nombres.valid">
            <p>Este campo es requerido</p>
          </ion-item>

          <ion-item>            
            <ion-input type="text" placeholder="Apellidos" [(ngModel)]="usuarioNuevo.apellidos" name="apellidos" formControlName="apellidos"></ion-input>
          </ion-item>
          <ion-item *ngIf="formUsuarioNuevo.controls.apellidos.dirty && !formUsuarioNuevo.controls.apellidos.valid">
            <p>Este campo es requerido</p>
          </ion-item>

          <ion-item>            
            <ion-input type="number" placeholder="Cedula" [(ngModel)]="usuarioNuevo.cedula" name="cedula" formControlName="cedula"
            (blur)='comprobarCedulaGoodAppetit()'></ion-input>
          </ion-item>           
          <ion-item *ngIf="formUsuarioNuevo.controls.cedula.dirty && !formUsuarioNuevo.controls.cedula.valid">
            <p>Este campo es requerido</p>
          </ion-item>

          <ion-item>            
            <ion-input type="email" placeholder="Email" [(ngModel)]="usuarioNuevo.email" name="email" formControlName="email" 
            (blur)='comprobarEmailGoodAppetit()'></ion-input>
          </ion-item>          
          <ion-item *ngIf="formUsuarioNuevo.controls.email.dirty && !formUsuarioNuevo.controls.email.valid">
            <p>Este campo es requerido</p>
          </ion-item>
          
          <div formGroupName="matchingPassword">
            <ion-item>            
              <ion-input id="password" type="password" [(ngModel)]="usuarioNuevo.password" placeholder="Contraseña" 
              name="password" formControlName="password"></ion-input>
            </ion-item>                        
            <ion-item>            
              <ion-input id="confirmPassword" type="password" [(ngModel)]="usuarioNuevo.confirmPassword" placeholder="Confirmar Contraseña" 
              name="confirmPassword" formControlName="confirmPassword"></ion-input>
            </ion-item>
            <span *ngIf="!formUsuarioNuevo.controls.matchingPassword.valid" class="help-block text-danger">
              <div *ngIf="formUsuarioNuevo.controls.matchingPassword?.errors?.areEqual">
                <p class="errorRegister">Las dos contraseñas no coinciden</p> 
              </div>
            </span>            
          </div>
          <button type="submit" ion-button color="secondary" full 
          [disabled]="!formUsuarioNuevo.valid || booleanUsuario || booleanCedula || booleanEmail">Registrarme</button>          
          <!--<button type="submit" ion-button color="secondary" full [disabled]="!formUsuarioGa.valid">Entrar</button>-->
        </form>
      </section>
      <!--<ion-label white class="login-lbl-center power-by">Terminos y Condiciones</ion-label>-->
    </ion-list>
    <ion-item class="login-check-licences">
      <ion-label class="login-lbl-licences">Aceptar <button class="login-btn-licences" ion-button clear (click)="goToLicenses()">Terminos y Condiciones</button></ion-label>
      <ion-checkbox class="login-chk-licences"  checked="false" [(ngModel)]="isChecked"></ion-checkbox>
    </ion-item>

  </div>
  <ion-label white class="login-lbl-center power-by">Powered by:</ion-label>
  <img class="app-img-hub login-logo-hub" src="../www/build/images/logo-hub.png" alt="">
</ion-content>