@import '../_vars';

.login {
    //background-color: #FFFFFF;
    ion-img{
        /*max-height: 30%;
        max-width: 40%;*/
        display: block;
        //height: 20rem;
        margin: 5% auto 25px auto;
        //width: 13rem;
    }
}
.footer{
    .toolbar-background{
        background-color: rgba(255,255,255,.3);
    }
    .toolbar-title{
        color: #000000;
        font-weight: lighter;
    }
}

.login-content{
    background: $primary;
}

.logo {
    width: 8rem;
    height: 13rem;
}

.loginTabs{
    background: rgba(0, 0, 0, .1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $white;
}

.loginTabs.segment-activated{
    background: rgba(0, 0, 0, .3);
}

.loginPage{
    background: rgba(0, 0, 0, .3);
    padding: 1.5rem;
    p.errorLogin{
        color: #f4f4f4;
        font-style: italic;
    }
    
}

.registerPage{
    background: rgba(0, 0, 0, .3);
    padding: 1.5rem;
    .errorRegister, .errorLogin{
        color: #f4f4f4;
        font-style: italic;
    }
}

.login-lbl-center{
    text-align: center;
    margin-bottom: 0;
}

.login-icon-reg{
    color: $silver-icon;
}

.power-by{
    font-size: 1rem;
}

.login-check-licences{
    background-color: transparent;
}

.login-check-licences{
    .item-inner{
        border-bottom: none !important;
        padding: 0;
    }
}

.login-lbl-licences {
    color: #fff;
    margin: 0;
    margin-top: 1rem;
}

.login-btn-licences {
    color: #03A9F4;
    margin: 0;
    padding: 0;
}

.login-chk-licences {
    margin: 0 1rem 0 0.1rem !important;
}

/*.login-lbl-center.power-by {
    display: flex;
    text-align: center;
}*/
.login-logo-hub{
    display: block;
    margin: 0 auto;
}