<ion-header>
  <ion-navbar primary>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="about">
  <div class="app-content">
    <div class="app-name">
      <h1 class="app-title">Goodappetit!!!</h1>
      <p class="app-version">Versión 1.0.11 (beta)</p>
    </div>
    <div class="app-logo">
      <img src="../www/build/images/icon-logo.png" alt="">
    </div>
    <div class="app-credits">
      <p class="app-txt-credit">© 2016-2017</p>
      <!--<p class="app-txt-credit">CID Secure & Nodo</p>-->
      <img class="app-img-hub" src="../www/build/images/logo-hub.png" alt="">
    </div>
    <div class="app-licence">
      <!--<a class="app-licences" href="#" (click)="goToLicenses()">LICENSES</a>-->
      <button class="app-licences" ion-button clear (click)="goToLicenses()">Terminos y Condiciones</button>
    </div>
  </div>
</ion-content>
