/*.about {
  background-image: url("../images/bg_tapiz_goodappetit.png");
}*/

.about {
  background-image: url("../images/fondo_pollo.jpg");
}

/*.app-content {
    background: rgba(0, 0, 0, .5);
    text-align: center;
    height: 85%;
    margin-top: 15%;
    color: #fff;
    text-shadow: 1px 1px #000;
}*/

.app-title{
    padding-top: 35%;
}

.app-logo {
    padding: 3rem;
}

.app-version, .app-txt-credit {
    color: #ccc;
}


.app-content {
    background: rgba(228, 2, 45, 0.8);
    text-align: center;
    height: 100%;
    /* margin-top: 15%; */
    color: #fff;
    text-shadow: 1px 1px #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.app-licences{
    color: #03A9F4;
}

.app-img-hub {
    height: 2rem;
}