.img-tnk {
    width: 15rem;
    margin: 0 auto;
}

.tnk-it-desc {
    position: absolute;
    right: 1rem;
    top: 0.8em;
    font-weight: 300;
    overflow: inherit;
    text-overflow: inherit;
    width: 70%;
    text-align: right;
}

.tnk-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
}

.tnk-state {
    text-align: center;
}

.tnk-btn-lft {
    order: 1
}