<!--
  Generated template for the CarritoPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar primary hideBackButton="true">

			<ion-buttons class="tnk-btn-lft" icon-only clean (click)="gotoHome()" start>
				<button ion-button>     
					<ion-icon name="md-home"></ion-icon> 
				</button>
			</ion-buttons>

		<ion-title>Gracias</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>


	<div class="img-tnk"><img src="../www/build/images/smile.png"></div>

	<!--<h1>Gracias por pedir en GoodAppetit.com</h1>-->
	<!--<h2>Restaurante: {{sucursal.nombre_sucursal}}</h2>
	<h2>Fecha: {{fecha}}</h2>
	<h2>Tipo de pago: {{tipo_pago}}</h2>
	<h2 *ngIf="tipo_envio != 'recoger'" >Tipo de envio: {{tipo_envio}}</h2>
    <h2>Total:{{total}}</h2>
	<h2 *ngIf="tipo_envio == 'recoger'">Pasate a recoger cuando puedas!!!</h2>-->

	<ion-card>
		<ion-card-header>
			<div class="tnk-title">Gracias por pedir en GoodAppetit</div>
		</ion-card-header>

		<ion-list>
			<ion-item>
				<ion-icon name="restaurant" item-left></ion-icon>
				Restaurante: <div class="tnk-it-desc">{{sucursal.nombre_sucursal}}</div>
			</ion-item>
			<ion-item>
				<ion-icon name="calendar" item-left></ion-icon>
				Fecha: <div class="tnk-it-desc">{{fecha}}</div>
			</ion-item>
			<ion-item>
				<ion-icon name="cash" item-left></ion-icon>
				Tipo de pago: <div class="tnk-it-desc">{{tipo_pago}}</div>
			</ion-item>
			<ion-item>
				<ion-icon name="bicycle" item-left></ion-icon>
				Tipo de envio: <div *ngIf="tipo_envio != 'recoger'" class="tnk-it-desc">{{tipo_envio}}</div>
				<div *ngIf="tipo_envio == 'recoger'" class="tnk-it-desc">Para Recoger</div>
			</ion-item>
			<ion-item>
				<ion-icon name="pricetag" item-left></ion-icon>
				Total: <div class="tnk-it-desc">$ {{total | number : '1.2-2'}}</div>
			</ion-item>

			<!--<button ion-item>
			<ion-icon name="cart" item-left></ion-icon>
			Shopping
			</button>

			<button ion-item>
			<ion-icon name="medical" item-left></ion-icon>
			Hospital
			</button>

			<button ion-item>
			<ion-icon name="cafe" item-left></ion-icon>
			Cafe
			</button>

			<button ion-item>
			<ion-icon name="paw" item-left></ion-icon>
			Dog Park
			</button>

			<button ion-item>
			<ion-icon name="beer" item-left></ion-icon>
			Pub
			</button>

			<button ion-item>
			<ion-icon name="planet" item-left></ion-icon>
			Space
			</button>-->

		</ion-list>
		<div class="tnk-state"><button ion-button color="secondary" (click)="verEstadoPedido()">Ver Estado del pedido</button></div>
		</ion-card>

</ion-content>