

.txt-center {
    text-align: center;
}

.titulo {
    color: red;
}

.tiempo {
    color: green;
}

.cronometro {
    width: 13rem;
    height: 13rem;
    //background: orange;
    margin: auto;
    border-radius: 50%;
    border: 0.5rem solid #aaa;
}

.barra{
    width: 90%;
    height: 2rem;
    border-radius: 2rem;
    background: silver;
    margin: auto;
}

p.numero {
    //font-size: 40px;
    color: white;
    text-align: center;
    //padding-top: 2.8rem;
}



p.minutos {
    color: white;
    text-align: center;
}
.img-size{
    width: 5rem;
    height: 5rem;
}

li.estados-img {
    display: inline-block;
    position: absolute;
}

li.rest-progress {
    left: 4rem;
    top: 9rem;
}

.barra {
    margin: 8rem auto;
}

li.trans-progress {
    top: 9rem;
    left: 50%;
    transform: translate(-50%, 0%);
}

li.check-progress {
    top: 9rem;
    right: 4rem;
}

.est-btn-lft {
    order: 1
}

.disable{
    .img-size{
        width: 6rem;
        height: 6rem;
    }
    /*cursor: not-allowed;
    pointer-events: none;*/

    /*Button disabled - CSS color class*/
    filter: grayscale(100%);
}