<!--
  Generated template for the EstadoPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar primary hideBackButton="true">

		<ion-buttons class="est-btn-lft" icon-only clean (click)="gotoHome()" start>
			<button ion-button>     
      			<ion-icon name="md-home" ></ion-icon> 
    		</button>
		</ion-buttons>
		<ion-title>Estado</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-card>
		<!--<ion-card-header>
    Header
  </ion-card-header>-->
		<ion-card-content [hidden]="estado==6">
			<div  class="req-progress">
				<div class="barra"></div>
				<ul class="progress">
					
					
					<li class="estados-img rest-progress">
						<div [ngClass]="{'disable': !confirmado}">
						<img src="../www/build/images/food.png" class="img-size slide-imagen"/>
						</div>
					</li>
					
					<li class="estados-img trans-progress">
						<div *ngIf="pedido.id_tipo_pedido!='1'" [ngClass]="{'disable': !enviado}">
						<img src="../www/build/images/smile.png" class="img-size  slide-imagen" />
						</div>
						<div *ngIf="pedido.id_tipo_pedido=='1'" [ngClass]="{'disable': !enviado}">
						<img src="../www/build/images/motocicle.png" class="img-size  slide-imagen" />
						</div>
					</li>
					<li class="estados-img check-progress">
						<div [ngClass]="{'disable': !entregado}">
						<img src="../www/build/images/check.png" class="img-size slide-imagen" />
						</div>
					</li>
				</ul>
			</div>
		</ion-card-content>

    	<ion-card-content *ngIf="estado == 6">
			<div class="contenedor">
				<h3 class="txt-center titulo">Pedido cancelado</h3>
				<p class="txt-center texto">Vuelve pronto</p>		

			</div>
		</ion-card-content>



	</ion-card>
	<ion-card>

		<ion-card-content *ngIf="estado == 1 ">
			<div class="contenedor">
				<!--<h3 class="txt-center titulo"> Pedido por confirmar </h3>-->
				<p class="txt-center texto">Espera mientras el restaurante confirme tu pedido</p>
				<p class="txt-center tiempo"> puede tardar aproximadamente...</p>
				<div class="txt-center cronometro" [ngStyle]="{'background': color_time}">
					<p class="numero" [ngStyle]="{'font-size': txt_size+'px', 'padding-top': padd_top+'rem'}">{{tiempo}}</p>
					<!--<p class="minutos">minutos</p>-->
				</div>
			</div>

		</ion-card-content>


		<ion-card-content *ngIf="estado == 2 || estado == 3">
			<div class="contenedor">
				<h3 class="txt-center titulo"> Pedido Confirmado</h3>
				<p class="txt-center texto">El restaurante esta preparando tu pedido</p>
				<p class="txt-center tiempo">Puede tardar aproximadamente</p>
				<div class="txt-center cronometro" [ngStyle]="{'background': color_time}">
					<p class="numero" [ngStyle]="{'font-size': txt_size+'px', 'padding-top': padd_top+'rem'}">{{tiempo}}</p>
					<!--<p class="minutos">minutos</p>-->
				</div>
			</div>
		</ion-card-content>		


		<ion-card-content *ngIf="estado == 4">
			<div class="contenedor">
				<!--<h3 class="txt-center titulo">En camino</h3>-->
				<h3 class="txt-center titulo">Tu pedido esta en camino</h3>
				<p class="txt-center tiempo">Puede tardar aproximadamente</p>
				<div class="txt-center cronometro" [ngStyle]="{'background': color_time}">
					<p class="numero" [ngStyle]="{'font-size': txt_size+'px', 'padding-top': padd_top+'rem'}">{{tiempo}}</p>
					<!--<p class="minutos">minutos</p>-->
				</div>
			</div>
		</ion-card-content>


		<ion-card-content *ngIf="estado == 9">
			<div class="contenedor">
				<h3 class="txt-center titulo">Puedes salir a recoger tu pedido</h3>
				<p class="txt-center texto">El transportista se encuentra afuera</p>				
			</div>
		</ion-card-content>


		<ion-card-content *ngIf="estado == 5">
			<div class="contenedor">
				<h3 class="txt-center titulo">Pedido entregado</h3>
				<p class="txt-center texto">Disfrutalo</p>
				<p class="txt-center tiempo">Good Appetit!!!</p>
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>