$sb_color: #888;

.title-cart {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.cart-price {
    position: absolute;
    right: 0;
    top: 0;
}

ion-icon[item-left] + .item-inner {
    margin-left: 6px;
}

.cart-title{
    font-weight: bold;
}

.cart-sbtitle{
    color: $sb_color;
}

.cart-pdesc{
    flex: initial;
    width: 75%;
}

.cart-row-final{
    border-bottom: 0 !important;
    .item-inner{
        border-bottom: 0 !important;
    }
}

.cart-breq {
    width: 100%;
}