<!--
  Generated template for the CarritoPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar primary>
		<ion-title>Carrito de compras</ion-title>
	</ion-navbar>
</ion-header>


<ion-content>
	<ion-label *ngIf="lista_productos.length == 0">Tu pedido está vacio!</ion-label>

	<ion-list [hidden]="lista_productos.length < 1 ">
		<!--<ion-list-header>Tu pedido</ion-list-header>-->
		<ion-item-divider light>
			<p class="title-cart">TU PEDIDO</p>
		</ion-item-divider>
		<ion-item *ngFor="let producto of lista_productos; let i = index">
			<ion-icon primary item-left (click)="eliminarPlato(i)" name="md-trash"></ion-icon>
			<ion-label class="cart-pdesc"> {{ producto.cantidad }} x {{ producto.nombre }} | {{ producto.tamanioNombre }} </ion-label>
			<ion-label class="cart-price">$ {{ producto.precio | number : '1.2-2'}}</ion-label>
		</ion-item>
		<ion-item class="cart-row-final">
			<ion-label class="cart-sbtitle">Sub Total:</ion-label>
			<ion-label class="cart-price cart-sbtitle"> $ {{ sub_total | number : '1.2-2'}}</ion-label>
		</ion-item>
		<ion-item class="cart-row-final">
			<ion-label class="cart-sbtitle">Precio de envio:</ion-label>
			<ion-label class="cart-price cart-sbtitle" *ngIf="sucursal.precio_envio != undefined && tipo_envio == 'domicilio'"> $ {{ sucursal.precio_envio | number : '1.2-2'}}</ion-label>
			<ion-label class="cart-price cart-sbtitle" *ngIf="sucursal.precio_envio == undefined "> Gratis</ion-label>
			<ion-label class="cart-price cart-sbtitle" *ngIf="sucursal.precio_envio != undefined && tipo_envio == 'recoger'"> $ 0.00</ion-label>


		</ion-item>
		<ion-item class="cart-row-final">
			<ion-label class="cart-title">TOTAL:</ion-label>
			<ion-label class="cart-price cart-title" *ngIf="total != undefined && tipo_envio != undefined"> $ {{ total | number : '1.2-2'}}</ion-label>
		</ion-item>
	</ion-list>

	<ion-list [hidden]="lista_productos.length < 1 ">
		<!--<ion-item-divider light large>Tipo de envio</ion-item-divider>-->
		<!--Tipo de envio-->
		<ion-item>
			<ion-label>Elige el tipo de envio</ion-label>
			<ion-select [(ngModel)]="tipo_envio" cancelText="Cancelar" okText="OK" (ionChange)="validateTotal($event, tipo_envio)">
				<ion-option value="domicilio" checked="true">A domicilio</ion-option>
				<ion-option value="recoger">Para recoger</ion-option>
			</ion-select>
		</ion-item>
		<!--Tipo de pago-->
		<!-- <ion-item-divider light large>Tipo de pago</ion-item-divider>-->
		<ion-item>
			<ion-label>Elige el tipo de pago</ion-label>
			<ion-select [(ngModel)]="tipo_pago" cancelText="Cancelar" okText="OK">
				<!-- TODO Probar ched y selected para selecionar valor por defecto -->
				<ion-option value="efectivo" checked="true">Efectivo</ion-option>
				<ion-option disabled="true" value="d_electronico">Dinero Electrónico</ion-option>
				<ion-option disabled="true" value="tarjeta">Tarjeta de crédito</ion-option>

			</ion-select>
		</ion-item>

		<!--Comentarios al restaurante-->
		<ion-item>
			<!--<ion-label primary stacked>Comentarios al restaurante</ion-label>-->
			<ion-input [(ngModel)]="comentario" type="text" placeholder="Comentario al restaurante(opcional)"></ion-input>
		</ion-item>
	</ion-list>
	<button class="cart-breq" [hidden]="lista_productos.length < 1 " ion-button color="secondary" (click)="hacerPedido()" *ngIf="cuentaVerif">Hacer Pedido</button>
	<button class="cart-breq" [hidden]="lista_productos.length < 1 " ion-button color="secondary" (click)="mensajeCuentaVerificada()" *ngIf="!cuentaVerif">Hacer Pedido</button>


</ion-content>