<ion-header>
  <ion-navbar primary>
    <ion-title>Términos y Condiciones</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #popoverContent padding class="popover-page">
  <div #popoverText class="text-to-change">
    <h1>Términos y condiciones GoodAppetit Cia. Ltda.</h1>
    <div>Estimado cliente, por favor leer los términos y condiciones antes de realizar tu orden a través de Goodappetit. Todos los pedidos a domicilio que realices a través de nuestro aplicativo web o mòvil, están sujetos a los siguientes términos y condiciones:</div>
    
    <h2>Introducción</h2>
    <div>GoodAppetit ofrece un servicio a través del cual podrás realizar pedidos a domicilio o retirar directamente en el restaurante aliado.</div>

    <h2>Definiciones</h2>
    <div>“Nosotros", "Nuestro", y "Goodappetit", hace referencia directa a la compañía.</div>
    <div>"Usted", “cliente, "usuario", y "su": hace referencia a todas las personas que accedan al sitio web o a la aplicación móvil a hacer uso de nuestro servicio de ordenes de comida online a domicilio.</div>
    <div>“Pedido”, “orden”, “consumo” y “producto”: hacen referencia a los bienes que se ofrecen a través de nuestro sitio web y aplicativo móvil día a día.</div>
    <div>"Servicio" o "Servicios": Hace referencia al servicio que se ofrece y es solicitado a través de nuestro sitio web y aplicativo móvil.</div>
    <div>"Restaurante Aliado", “Compañía aliada” y “establecimiento o local”, se refieren a agentes terceros, empresas que previamente han acordado colaborar con nuestro servicio, aportando con sus productos y servicios. Estas son encargadas de, una vez aceptado el pedido, despachar al consumidor final.</div>
    <div>“Sitio web", “aplicativo” o“plataforma” hace referencia a nuestro sitio web www.goodappetit.com, y/o a nuestra aplicación móvil Goodappetit por medio de los cuales ofrecemos nuestro servicio.</div>

    <h2>USO DEL MATERIAL</h2>
    <div>Una vez que el cliente ha ingresado al sitio web o al aplicativo móvil y ha seleccionado el producto en el menú del restaurante elegido y finalmente ha ingresado su ubicaciòn podrá ordenar su pedido. Es importante que revise la informaciòn que introduzca para que no contenga errores antes de hacer clic en el botón - Confirmar pedido - ya que una vez hecho el pedido ya no podrá cancelarse.</div>
    <div>Los derechos de propiedad intelectual e industrial derivados de todos los textos, imágenes, diseños, logotipos y marcas asi como todo el contenido, medios y formas pertenecen a GoodAppetit.</div>
    <div>Goodappetit no permitirá el uso del contenido del aplicativo con fines comerciales para ello deberán los usuarios solicitar u obtener el permiso del mismo.</div>

    <h2>INFORMACIÓN A LOS USUARIOS</h2>
    <div>Desde el primer momento que utilice el servicio de Goodappetit, para ordenar un pedido, se le solicitará información, es decir, datos personales como correo electrònico, nombres y apellidos, dirección de domicilio y número de celular.</div>
    <div>Al usar el sitio web como el aplicativo móvil de GoodAppetit, usted acepta que compartamos su información con terceros, es decir aliados que colaboran con nosotros, con el fin de usar su datos para darle a conocer productos y servicios que puedan ser de su interés. Si usted no desea  que usemos sus datos personales, debe dejar de usar nuestro servicio para que su información sea eliminada permanentemente de nuestra base de datos.</div>
    <div>En cuanto a la política de privacidad su información personal nos servirá para contactarlo con el objetivo de obtener su opinión o sugerencias sobre el servicio que ofrecemos y en ciertas ocasiones para informarle acerca de nuevas funciones. Goodappetit cumplirá y mantendrá normas de protección y seguridad necesarias para evitar accesos no autorizados de su información personal.</div>
    <div>Todos los comentarios, consultas y sugerencias sobre el uso de la información serán bienvenidos y serán remitidos al correo electrónico de Goodappetit info@goodappetit.com.</div>
    <div>Al hacer uso del sitio web como el aplicativo móvil de Goodappetit usted acepta los términos y condiciones de uso de este servicio. En caso de no aceptar, deberá dejar de usar la aplicación y sus datos serán eliminados inmediatamente por un tiempo prudencial hasta que usted requiera de nuestro servicio y esté dispuesto a aceptar los términos y condiciones citados.</div>
    <div>Goodappetit recomienda revisar constantemente los términos y condiciones antes de ordenar un pedido debido a que estos pueden cambiar o modificarse en cualquier momento.</div>
    <div>Al momento de ordenar un pedido usted garantiza que no es una persona menor de 16 años de edad y que está en uso pleno de sus derechos como ciudadano para asumir la responsabilidad civil y legal al ordenar un pedido de un producto en específico a domicilio. Goodappetit puede recabar información técnica de su dispositivo móvil, como por ejemplo, los datos de localización y ciertas características de rendimiento y datos sobre el dispositivo, dirección de IP.</div>
    
    <h2>PROCEDIMIENTO DE PEDIDOS Y ACLARACIONES GENERALES</h2>
    <div>Una vez que el cliente haya confirmado su pedido no podrá cancelarlo ni podrá solicitar un reembolso.</div>
    <div>Luego de ordenar su pedido, el restaurante elegido procesará su solicitud de pedido y le enviará a través de la app una notificación de que su pedido ha sido recibido y que su solicitud está en proceso, aquí el restaurante emitirá el tiempo que tarda en preparar el pedido. En caso de no recibir previa notificación su pedido no será entregado. En caso de ocultar la notificación emitida por el restaurante para no recibirlo o pagar por él, se procederá  legalmente por parte del usuario por el -no pago de un pedido confirmado-. Recuerde que dependiendo del local seleccionado, la notificación de confirmación por lo que se deberá estar atento al estado del pedido.</div>
    <div>En caso de que su pedido tarde mas tiempo de lo pactado o pueda llegar a existir algún inconveniente similar en el proceso, le recomendamos llamar al restaurante para consultar el estado de su pedido, a más de ello si no quedo satisfecho de la calidad de los productos o de los servicios prestados por un local/restaurante, por favor ingrese a www.goodappetit.com para emitir su reclamo al cual tendrá acceso el local/restaurante para su inmediata soluciòn.</div>

    <h2>GARANTÍA</h2>
    <div>El usuario y/o cliente de Goodappetit debe tener en cuenta que el mismo no tendrà ninguna responsabilidad sobre el producto que oferta cada restaurante ya que cada establecimiento gestiona de forma independiente la preparación de sus productos, así mismo como la facturación y/o emisión de comprobantes tributarios. Goodappetit no se hará cargo de ninguna responsabilidad o indemnización que pudiera corresponder al restaurante. Goodappetit no garantiza los productos solicitados a un restaurante y no se responsabiliza por sus efectos sobre usted o las personas que los consuman.</div>
    <div>Dentro del aplicativo web y mòvil en lo que respecta al contenido fotogràfico, los productos comercializados en la plataforma son referenciales y pueden no representar el tamaño, textura y características del producto final.</div>
    <div>Goodappetit no es responsable de ninguna obligación por acontecimientos de fuerza mayor. Por Fuerza Mayor se entenderá cualquier acto, evento, omisión o accidente que se encuentre fuera del control del personal de los restaurantes afiliados o de Goodappetit, incluye en particular los siguientes: huelgas, motines, ataques terroristas, guerras, incendios, inundaciones, terremotos o cualquier otro desastre natural; fallos en las redes de comunicación y/o internet, disposiciones legales o legislación, regulación o restricciones gubernamentales.</div>

    <h2>COBERTURA</h2>
    <div>La cobertura está sujeta a la disponibilidad de cada establecimiento aliado  y a la distancia entre el mismo y el punto de entrega. Goodappetit se responsabiliza sobre la forma en que se realice el envío y el tiempo que tome.</div>
    
    <h2>HORARIOS DE ATENCIÓN</h2>
    <div>Goodappetit tendrá una apertura a su público de igual forma que los establecimientos en sus horarios de atención, estos variarán de acuerdo a sus políticas.</div>

    <h2>PRECIO DEL SERVICIO</h2>
    <div>El servicio que ofrece Goodappetit no tiene costo para el usuario final. El usuario final paga por su pedido más el valor del envío del mismo (y la propina voluntaria). Ningún local y/o restaurante puede cobrar valores adicionales a los descritos; en caso de identificar una situación como la mencionada, por favor notificar en www.goodappetit.com.</div>

    <h2>PRECIOS DEL SERVICIO A DOMICILIO</h2>
    <div>Los precios del servicio a domicilio varían de acuerdo a la distancia entre el restaurante y el punto de entrega y estos están sujetos a las tarifas mínimas de la compañías de entrega aliadas.</div>

    <h2>FORMAS DE PAGO</h2>
    <div>Por el momento Goodappetit estableció una sola forma de pago: en efectivo contra entrega.</div>

    <h2>TIEMPOS DE ENTREGA</h2>
    <div>El tiempo de entrega dependerà de la distancia en kilòmetros desde el restaurante hasta el punto de entrega, el tiempo mínimo será de 10 minutos. El no recibir una notificación de confirmación al correo electrónico, implica que el restaurante NO enviará su pedido.</div>

    <h2>PEDIDO MÍNIMO</h2>
    <div>El pedido mínimo dependerá de cada restaurante.</div>

    <h2>PRECIOS DE LOS PRODUCTOS DEL MENÚ</h2>
    <div>Es necesario revisar constantemente los precios de los productos del menú de cada restaurante ya que estos pueden cambiar o actualizarse sin previo aviso. Todos los precios ya incluyen IVA.</div>

    <h2>PROPINAS</h2>
    <div>Las propinas no están incluidas en el valor total a pagar por pedido. Las compañías aliadas de entrega cuentan con personal amable y siempre estarán atentos a recibir su propina voluntaria.</div>

    <h2>VENTAJAS</h2>
    <div>Goodappetit ofrece un sistema gratuito para todos los usuarios y clientes. Un proceso fácil y rápido de ordenar pedidos a domicilio desde la comodidad de tu casa, oficina, institución, etc.</div>
    <div>Brinda ahorro de tiempo y costos para los restaurantes al no recibir llamadas telefónicas. Los clientes tendrán acceso a un menú completo y variado que podrán adquirir de manera sencilla y eficiente, evitando tener que consultar al restaurante los precios y características de cada producto.</div>
    <div>Brinda ahorro de tiempo y costos para los restaurantes al no recibir llamadas telefónicas. Los clientes tendrán acceso a un menú completo y variado que podrán adquirir de manera sencilla y eficiente, evitando tener que consultar al restaurante los precios y características de cada producto.</div>
    <div>Proporciona seguridad, pues se puede identificar a cada uno de los usuarios y su respectiva información (datos personales) para contactarlos y facilitar la facturación, ubicación y entrega y cualquier asunto de pedidos falsos.</div>
    <div>El cliente podrà tener conocimiento sobre el estado de su pedido, además que cuenta con un detalle y descripción específica de sus pedidos en cada uno de los restaurantes.</div>
  </div>

</ion-content>