<!--
  Generated template for the CarritoPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar primary>
    <ion-title>Nueva dirección</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
      <ion-item>
      <ion-label clearInput>Calles: </ion-label>
      <ion-input [(ngModel)]="direccion"></ion-input>
</ion-item>
 
   <ion-item>
      <ion-label clearInput>Celular: </ion-label>
      <ion-input [(ngModel)]="celular" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label clearInput>Nº de casa: </ion-label>
      <ion-input [(ngModel)]="num_casa"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label clearInput>Referencia: </ion-label>
      <ion-input [(ngModel)]="referencia"></ion-input>
    </ion-item>
  <button ion-button color="secondary" block (click)="guardarDireccion()">Guardar Dirección</button>
</ion-content>