<!--
  Generated template for the CarritoPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar primary>
		<ion-title>Datos</ion-title>
	</ion-navbar>

	<ion-toolbar *ngIf="tipo_envio == 'domicilio'">
		<ion-title class="delivery-title">Confirmar dirección de entrega</ion-title>
		<!--<button [hidden]="num_direcciones < 1" ion-button color="secondary" round (click)="crearNuevaDireccion()" end>
      <ion-icon item-right name="md-add-circle"></ion-icon>Agregar
      </button>-->
		<div padding>
			<button [hidden]="num_direcciones < 1" ion-button color="secondary" block (click)="crearNuevaDireccion()">
      		<ion-icon item-right name="md-add-circle"></ion-icon>Agregar</button>
		</div>
	</ion-toolbar>

	<ion-toolbar *ngIf="tipo_envio == 'recoger'">
		<ion-title>Confirma tu número de celular</ion-title>
	</ion-toolbar>

</ion-header>


<ion-content padding>

	<!-- lista de Direciones -->
	<ion-list *ngIf="tipo_envio == 'domicilio' && num_direcciones > 0" radio-group [(ngModel)]="id_direccion">

		<ion-list-header>Selecciona una dirección de entrega:</ion-list-header>

		<ion-item *ngFor="let dir of direcciones">
			<ion-label>{{dir.calle_principal}} ,{{dir.calle_secundaria}}-{{dir.numero_casa}}</ion-label>
			<ion-radio value={{dir.id_direccion}}></ion-radio>
		</ion-item>
		<button ion-button *ngIf="!isConfirmado" color="secondary" block (click)="hacerPedido(tipo_envio, false)">Confirmar Pedido</button>
	</ion-list>


	<ion-list *ngIf="tipo_envio == 'recoger'">
		<ion-item>
			<ion-label clearInput>Celular: </ion-label>
			<ion-input [(ngModel)]="celular" type="number"></ion-input>
		</ion-item>
		<button ion-button *ngIf="!isConfirmado" color="secondary" block (click)="hacerPedido(tipo_envio, false)">Confirmar Pedido</button>
	</ion-list>

	<!--  Formulario de dirección primera vez -->
	<ion-list *ngIf="num_direcciones < 1 && tipo_envio != 'recoger'">

		<ion-item>
			<ion-label clearInput>Calle principal: </ion-label>
			<ion-input required [(ngModel)]="calle_principal" type="text"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label clearInput>Calles secundaria: </ion-label>
			<ion-input required [(ngModel)]="calle_secundaria" type="text"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label clearInput>Nº de casa: </ion-label>
			<ion-input required maxlength="5" [(ngModel)]="num_casa" type="text"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label clearInput>Referencia: </ion-label>
			<ion-input required [(ngModel)]="referencia"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label clearInput>Celular: </ion-label>
			<ion-input required max="10" [(ngModel)]="celular" type="number"></ion-input>
		</ion-item>

		<button ion-button color="secondary" block (click)="validarForm(calle_principal,calle_secundaria,referencia,num_casa,celular,true)">Confirmar Pedido</button>
	</ion-list>



	<!--boton confirmar-->



</ion-content>