<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar primary hideBackButton="true">
    <ion-buttons class="est-btn-lft" icon-only clean (click)="onPageBack()" start>
			<button ion-button>     
      			<ion-icon name="arrow-back"></ion-icon> 
    		</button>
		</ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--<button (click)="atras()">Atras</button>-->
  <div padding>
    <img class="center" style="max-width: 40%;" src="{{ usuario.foto }}">
      <p class="txt-center"><ion-icon name="mail"></ion-icon> {{ usuario.email }}</p>    
  </div>

  <form (ngSubmit)="actualizarUsuario()" [formGroup]="formPerfil" novalidate>
    <ion-item>
      <ion-label stacked>Nombre</ion-label>
      <ion-input name="nombre" type="text" [(ngModel)]="usuario.nombre" 
      ngControl="nombre"></ion-input>
    </ion-item>
    <ion-item *ngIf="formPerfil.controls.nombre.dirty && !formPerfil.controls.nombre.valid">
      <p>Este campo es requerido</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Apellido</ion-label>
      <ion-input name="apellido" type="text" [(ngModel)]="usuario.apellido" 
      ngControl="apellido"></ion-input>
    </ion-item>
    <ion-item *ngIf="formPerfil.controls.apellido.dirty && !formPerfil.controls.apellido.valid">
      <p>Este campo es requerido</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Cédula</ion-label>
      <ion-input name="cedula" type="text" [(ngModel)]="usuario.cedula" 
      ngControl="cedula"></ion-input>
    </ion-item>
    <ion-item *ngIf="formPerfil.controls.cedula.dirty && !formPerfil.controls.cedula.valid">
      <p *ngIf="formPerfil.controls.cedula.errors.required">
        Este campo es requerido
      </p>
      <p *ngIf="formPerfil.controls.cedula.errors.minlength || formPerfil.controls.cedula.errors.maxlength">
        Se requieren 10 caracteres
      </p>
      <p *ngIf="formPerfil.controls.cedula.errors.pattern">
        Solo se aceptan números
      </p>
    </ion-item>

    <div padding>
      <!--<button ion-button color="primary" block (click)="actualizarUsuario()">Aceptar</button>-->
      <button type="submit" ion-button color="primary" block [disabled]="!formPerfil.valid">Aceptar</button>
    </div>
  </form>

</ion-content>
