<!--
  Generated template for the IntroPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>intro</ion-title>
  </ion-navbar>

</ion-header>



<ion-content >

  <ion-slides pager>

    <ion-slide>
      <img src="images/slide1.png" />
    </ion-slide>

    <ion-slide>
      <img src="images/slide2.png" />
    </ion-slide>

    <ion-slide>
      <img src="images/slide3.png" />
    </ion-slide>

    <ion-slide>
      <ion-row>
          <ion-col>
              <img src="images/slide4.png" />
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <button light (click)="goToHome()"></button>
          </ion-col>
      </ion-row>
    </ion-slide>

  </ion-slides>
</ion-content>
