<ion-tabs orange>
  <ion-tab [root]="tab1Root" tabTitle="Restaurantes" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Ofertas" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Favoritos" tabIcon="contacts"></ion-tab>
</ion-tabs>
