img.ped-img-res{
    height: 4rem;
    width: 4rem;
}

.est-1{
    background-color: rgba(224,224,224,.8);
}

.est-2{
    background-color: rgb(255, 186, 20);
}

.est-3{
    background: rgba(255,180,0,.8);
}

.est-4{
    background: rgba(2, 120, 174, .8);
}

.est-5{
    background: rgba(37,165,95,.9);
}

.est-6{
    background: rgba(228, 2, 45, 0.8);
}