<!--
  Generated template for the EstadoPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<!--Pedido	Cliente	Fecha	Direccion	Tipo de Pago	Tipo de Envio	valor	Estado	Detalle-->
	<ion-navbar primary>
		<ion-buttons icon-only clean>
		</ion-buttons>
		<ion-title *ngIf="!reportarPedido">Pedidos </ion-title>
		<ion-title *ngIf="reportarPedido">Selecciona el pedido a reportar </ion-title>
		
	</ion-navbar>
</ion-header>
<ion-content>

	<ion-list  radio-group [(ngModel)]="id_pedido">			
		<ion-card *ngFor="let pedido of listaPedidos; let i = index">			
			<ion-item class="est-{{pedido.id_estado.id_estado}} item">				
				<ion-avatar item-left>
					<img class="ped-img-res" src="{{pedido.id_sucursal.id_proveedor.id_perfil.ruta_foto}}">
				</ion-avatar>
				<ion-label>{{pedido.id_sucursal.nombre_sucursal}}<p>{{pedido.id_estado.estado}}</p></ion-label>				
				<ion-radio *ngIf="reportarPedido" value="{{pedido.id_pedido}}"></ion-radio>			
			</ion-item>				
			
			<ion-card-content>
				<ion-list>
					<ion-item>Fecha:
						<div class="tnk-it-desc">{{pedido.fecha | date: 'dd/MM/yyyy HH:mm'}}</div>
					</ion-item>
					<ion-item>Total:
						<div class="tnk-it-desc">{{pedido.valor | number : '1.2-2'}}</div>
					</ion-item>
					<ion-item>Dirección:
						<div class="tnk-it-desc">{{pedido.id_direccion.calle_principal}}-{{pedido.id_direccion.calle_secundaria}}-{{pedido.id_direccion.num_casa}}</div>
					</ion-item>
					<ion-item>Tipo pedido:
						<div class="tnk-it-desc">{{pedido.id_tipo_pedido.tipo_pedido}}</div>
					</ion-item>
					<ion-item>Tipo de pago:
						<div class="tnk-it-desc">{{pedido.id_tipo_pago.tipo_pago}}</div>
					</ion-item>
					<ion-item *ngIf="pedido.tiempo != undefined"> Tiempo de espera:
						<div class="tnk-it-desc">{{pedido.tiempo}} min</div>
					</ion-item>
					<button  *ngIf="reportarPedido && id_pedido == pedido.id_pedido" ion-button color="secondary" block (click)="enviarReporte()">Reportar Pedido</button>
				</ion-list>
			</ion-card-content>

		</ion-card>

	</ion-list>


	<!-- INFINITE SCROLL -->
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando datos...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>



</ion-content>