<!--
  Generated template for the SlidesPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>
  <ion-navbar primary>
    <ion-title>GoodAppetit</ion-title>
  </ion-navbar>
</ion-header>-->


<ion-content class="slides">

  <ion-slides pager>
    <!--<ion-slide class="img-background" *ngFor="let slide of slides">
      <div class="main-content">
          <ion-toolbar>
          <ion-label>           
          </ion-label>
        </ion-toolbar>
        <img *ngIf="slide.imagen" [src]="slide.imagen" class="slide-imagen"/>
        <h2 class="slide-titulo" [innerHTML]="slide.titulo"></h2>
        <p [innerHTML]="slide.descripcion"></p>
        <p class="next">Deslizar para continuar <ion-icon name="arrow-forward"></ion-icon></p>
      </div>
    </ion-slide>-->
    <ion-slide class="img-background">
      <div class="main-content">
        <!--<ion-toolbar>
        </ion-toolbar>-->
        <!--<img src="http://ihe.ncdpi.wikispaces.net/file/view/READY%20icon.png/371426866/READY%20icon.png" 
        class="slide-imagen"/>-->
        <p><b>GoodAppetit</b>, es la nueva solución para perdir comida a domilio. Elige tu restaurante y paga en efectivo en el momento de la entrega.</p>
        <div class="slide-content">
          <img  src="../www/build/images/food1.png" class="slide-imagen"/>
          <button ion-button icon-left outline color="light" (click)="iniciar()">
            <ion-icon name="home"></ion-icon>
            ¿Empezamos?
          </button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
