/*.img-background{
  background-image: url("../images/pizza-background-1.jpg");
  //background-size: 100% 100%;
  //background-size: inherit;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /*background-position: center;
}*/

.main-content {
    //background: rgba(0,0,0, .5);
    background: #E4022D;
    /*border-radius: 1em;*/
    height: 100%;
    /*margin: 2em auto;
    width: 80%;*/    
    padding: 3em 0;
}

ion-icon {
  vertical-align: middle;
}

.slides {
  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  ion-slide {
    background-color: #fff;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-titulo {
    margin-top: 2.8rem;
    color: #fff;
    text-shadow: #000000;
    font-size: 3rem;
  }

  img.slide-imagen {
    display: block;
    max-height: 15rem;
    max-width: 15rem;
    margin: 1em auto 0.5em auto;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 5rem;
    font-size: 1.7rem;
    /*line-height: 1.5;*/
    color: #fff;
    /*font-weight: 400;*/
    text-shadow: 1px 1px #000000;

    /*b {
      color: #000000;
    }*/
  }
  p.next{
    padding: 0 40px;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #fff;
  }
}

.slide-content {
  margin-top: 9rem;
}
.slide-clear-button{
  color: #fff;
  text-transform: capitalize;
}
