@import '../_vars';

.count-rest{
    margin: 0;
    text-align: center;
}

.open{
    color: $secondary;
}

.close{
    color: $primary;
}

.main-img-rest{
    border-radius: 50%;
    height: 8rem; 
    width: 8rem;
    //border: .5px solid $silver;
}