ion-title {
    display: inline-block;
    vertical-align: text-bottom;
}

.ion-md-menu {
    
    padding: 15px 0 15px 10px;
}

.ion-md-cart {
    /*color: #fff;
    font-size: 1.5em;*/
    right: 10px;
    position: absolute;
    padding: 15px 5px 15px 0;
}

.h-icons{
    color: #fff;
    font-size: 1.8em;
}