@import '../_vars';

ion-card.home-card-cat {
    margin: 0;
    width: 100%;
}

ion-scroll {
    white-space: nowrap;
    height: 40px;
}

scroll-content::-webkit-scrollbar{
    display: none;
}

.scroll-zoom-wrapper {
    padding: 5px 0 0 0;
}

.main-cat {
    background-color: #000;
    //border-radius: 25px;
    color: #fff;
    display: inline-block;
    margin: 0 2px;
    padding: 5px 10px;
}

#todos{
    border-bottom: 3px solid $primary;
}

.home-card-content{
    padding: 0;
    padding-right: 2rem;
    background: $black;
}

.home-arrow {
    color: #888;
    position: absolute;
    right: 5px;
    top: 1rem;
}