.profile-img-out-circle{
    background: transparent;
    border: 0.2rem solid #fff;
    border-radius: 50%;
    height: 9rem;
    width: 9rem;
    margin: 3rem auto 0 auto;
    position: relative;
}

.profile-background{
    background-image: url("../images/food_original.jpg");
    //background-color: rgba(228, 2, 45, .8);
    background-repeat: no-repeat;
    background-position: center;
}

.profile-item{
    background: transparent;
    border: none !important;

    .item-inner{
        border: none !important;
    }

    .button-clear, h2, p {
        color: #fff;
    }
}

.profile-avatar{
    /*width: 50%;
    height: 50%;*/
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.profile-img{
    max-width: 8rem;
    max-height: 8rem;
    width: 8rem !important;
    height: 8rem !important;
    border-radius: 4rem !important;
    margin: auto;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.txt-center {
    text-align: center;
}

.profile-upper{
    text-transform: uppercase;
}

.profile-content-list {
    background: rgba(228, 2, 45, .8);
    height: 100%;
    width: 100%;
    overflow: auto;
}

.profile-hr{
    border-bottom: 1px dashed #fff;
    width: 80%;
}

scroll-content::-webkit-scrollbar{
    display: none;
}

.menu-buttons{
    .button-inner{
        display: block;
        padding-top: 0.5rem;
        text-align: left;
    }
}