<ion-header>
  <ion-navbar primary>
    <button ion-button menuToggle icon-only>     
      <ion-icon class="h-icons" name="menu"></ion-icon> 
    </button>
    <ion-title >Good Appetit</ion-title>
      <ion-buttons end>
      <button ion-button color="light" (click)="showSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

    <ion-searchbar *ngIf="buscador" ionBlur placeholder="buscador" (ionInput)="getItems($event)"></ion-searchbar>
  </ion-navbar>

</ion-header>

<ion-menu [content]="content">
  <!--<ion-toolbar primary>
    <ion-title>GoodAppetit</ion-title>
  </ion-toolbar>-->
  <ion-content class="menutab profile-background">
    <div class="profile-content-list">
      <ion-list>      
        <ion-item class="profile-item">                                
          <!--<ion-card>
            <ion-item>-->
              <div class="profile-img-out-circle">
                <ion-avatar class="profile-avatar">
                  <img class="profile-img" src="{{ usuario.foto }}">
                </ion-avatar>
              </div>
              <h2 class="txt-center profile-upper" style="font-weight: 400;">{{ usuario.nombre }}</h2>
              <p class="txt-center">{{ usuario.email }}</p>
            <!--</ion-item>
          </ion-card>-->
        </ion-item>
        <hr class="profile-hr">
        <ion-item class="profile-item">
          <button full class="menu-buttons" clear (click)="goToPerfil()"><ion-icon name="md-person"></ion-icon>Perfil</button>
        </ion-item>
        <ion-item class="profile-item">
          <button full class="menu-buttons" clear (click)="goToValidation()"><ion-icon name="md-lock"></ion-icon>Validación de Cuenta</button>
        </ion-item>
        <ion-item class="profile-item">
          <button full class="menu-buttons" clear menuClose detail-none><ion-icon name="md-restaurant"></ion-icon>Restaurantes </button>         
        </ion-item>      
        <ion-item class="profile-item">
          <button full class="menu-buttons" clear (click)="goToPedidos()"><ion-icon name="md-pizza"></ion-icon>Pedidos</button>
        </ion-item >
          <ion-item class="profile-item">
          <button full class="menu-buttons" clear ion-button  (click)="goToSugerencias()"> <ion-icon ios="ios-star" md="md-star"></ion-icon>Sugerencias</button>
        </ion-item>
        <ion-item class="profile-item">
          <button full class="menu-buttons" clear (click)="goToAbout()"><ion-icon name="contact"></ion-icon>Acerca de</button>
        </ion-item >
        <ion-item class="profile-item">
          <button full class="menu-buttons" clear (click)="salir()"><ion-icon name="log-out"></ion-icon>Salir</button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>

<ion-content class="home" #content>
  
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
      pullingIcon="arrow-dropdown"
      pullingText="Deslizar para Actulizar"
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card class="home-card-cat">
    <ion-card-content class="home-card-content">

      <ion-scroll scrollX="true">
        <div class="categories">
          <div class="main-cat" id="todos" (click)="filtrarCategoria()">Todos</div>
          <div class="main-cat" id="{{category.id_categoria}}" *ngFor="let category of categorias" (click)="filtrarCategoria(category.categoria)">{{category.categoria}}</div>

        </div>
      </ion-scroll>

    </ion-card-content>
    <div class="home-arrow"><ion-icon name="ios-arrow-forward-outline"></ion-icon></div>
  </ion-card>

  <ion-item-group>
    <!--ABIERTOS-->
    <ion-item-divider light><p class="count-rest open">{{sucursalesAbiertas.length}} Restaurantes Abiertos</p></ion-item-divider>
    <ion-item *ngFor="let sucursal of sucursalesAbiertas" (click)="gotoCategorias(sucursal.id_menu, sucursal,true)">
      <ion-thumbnail item-left>
        <img class="main-img-rest" src="{{sucursal.id_proveedor.id_perfil.ruta_foto}}">
      </ion-thumbnail>
      <h2>{{sucursal.nombre_sucursal}}</h2>
      <h3>{{sucursal.id_proveedor.id_categoria.categoria}}</h3>
      <p>{{sucursal.descripcion}}</p>
      <button ion-button clear item-right><ion-icon name="ios-arrow-forward-outline"></ion-icon></button>
    </ion-item>
  </ion-item-group>
  <ion-item-group [hidden]="sucursalesCerradas.length < 1">
    <!--CERRADOS-->
    <ion-item-divider light><p class="count-rest close">{{sucursalesCerradas.length}} Restaurantes Cerrados</p></ion-item-divider>
    <ion-item *ngFor="let sucursal of sucursalesCerradas" (click)="gotoCategorias(sucursal.id_menu, sucursal,false)">
      <ion-thumbnail item-left>
        <img class="main-img-rest" src="{{sucursal.id_proveedor.id_perfil.ruta_foto}}">
      </ion-thumbnail>
      <h2>{{sucursal.nombre_sucursal}}</h2>
      <h3>{{sucursal.id_proveedor.id_categoria.categoria}}</h3>
      <p>{{sucursal.descripcion}}</p>
    </ion-item>
  </ion-item-group>
</ion-content>


