.map {
 
  scroll-content {
    height: 100%
  }
 
  #map {
    width: 100%;
    height: 100%;    
  }

 #center {
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -20px;
    margin-left: -20px;
    padding-top: 10px;
    padding-left: 10px;
    border: 2px solid red;
    z-index: 10000;
    position: relative;
}

}