<ion-header>
<ion-navbar *navbar orange>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Mappa</ion-title>
</ion-navbar>
</ion-header>

<ion-content>
  <div id="map" #map class="map" style="width:100%;height:100%" >      
  </div> 
</ion-content>
