.det-imghead {
    height: 170px;
    //overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
}

.cantity-style {
    text-align: center;
}

.det-product-img{
    /*position: absolute;
    clip: rect(0, 100px, 200px, 0);*/
    margin-top: -30rem;
}