<!--
  Generated template for the PaltoDetallePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar primary>
    <ion-title>Detalle</ion-title>

       <!--CARRITO-->
    <ion-buttons *ngIf="lista_productos && lista_productos.length > 0" (click)="verCarrito()" end>      
      <button round>        
      <ion-icon item-left name="md-cart" ></ion-icon> 
      <ion-badge>{{lista_productos.length}}</ion-badge>      
      </button>  
    </ion-buttons>

   

  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card class="rest-cat-header">
    <div class="det-imghead" [ngStyle]="{'background-image': 'url('+plato.ruta_foto+')'}">
      <!--<img class="det-product-img" src="{{plato.ruta_foto}}" />-->
      </div>
    <ion-card-content>
      <ion-card-title>
        <h1>{{plato.nombre_producto}}</h1>
         <p>{{plato.descripcion}}</p>      
            <ion-list radio-group [(ngModel)]="id_tamanio">          
                <ion-list-header>Elige un tamaño</ion-list-header>
              
                  <ion-item *ngFor="let tamanio of tamanios">
                    <ion-label [hidden]="tamanio.valor_oferta">{{tamanio.id_tamanio.tamanio}} ${{tamanio.valor | number : '1.2-2'}}</ion-label>
                    <ion-label *ngIf="tamanio.valor_oferta">{{tamanio.id_tamanio.tamanio}} <strike>${{tamanio.valor | number : '1.2-2'}}</strike> $ {{tamanio.valor_oferta | number : '1.2-2'}}</ion-label>
                    <ion-radio value={{tamanio.id_tamanio.id_tamanio}}></ion-radio>
                  </ion-item>             
              </ion-list>

        <!--ion-list radio-group [(ngModel)]="id_tamanio">
            <ion-list-header>
              Tamaños
            </ion-list-header>
           <div *ngFor="let tamanio of plato.tamanio">
             <ion-item *ngIf="tamanio.activo">
               <ion-label >{{tamanio.id_tamanio.tamanio}} ${{tamanio.valor | number : '1.2-2'}}</ion-label>
               <ion-radio value="{{tamanio.id_tamanio.id_tamanio}}"></ion-radio>
             </ion-item>
           </div>
         </ion-list-->

      </ion-card-title>
    </ion-card-content>


    <ion-list>
      <ion-list-header>Cantidad</ion-list-header>
      <ion-item item-center>
        <button ion-button color="secondary" item-left small (click)="actualizarCantidad(-1)">-</button>
        <div class="cantity-style"><span class="detail-cantity">{{ cantidad }}</span></div>
        <button ion-button color="secondary" item-right small (click)="actualizarCantidad(1)">+</button>
      </ion-item>
      <button ion-button color="secondary" block (click)="agregarCarrito()">AÑADIR AL CARRITO</button>
       
    </ion-list>

  </ion-card> 
</ion-content>