<ion-header>
  <ion-navbar primary hideBackButton="true">
    <ion-buttons class="est-btn-lft" icon-only clean (click)="onPageBack()" start>
			<button ion-button>     
      			<ion-icon name="arrow-back"></ion-icon> 
    		</button>
		</ion-buttons>
    <ion-title>Validación de Cuenta via SMS</ion-title>
  </ion-navbar>

   <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="vali">
      <!--<ion-segment>-->
      <ion-segment-button value="conf" disabled="botonInicial">
        <ion-icon name="cog"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="send" disabled="true" *ngIf="!exist">
        <ion-icon name="send"></ion-icon>
      </ion-segment-button>

      <!--<ion-segment-button value="done" *ngIf="!exist">-->
      <ion-segment-button value="done" disabled="true" *ngIf="!exist">
        <ion-icon name="done-all"></ion-icon>
      </ion-segment-button>


    </ion-segment>
  </ion-toolbar>
  
  
</ion-header>



<ion-content class="validation" padding>
  <div [ngSwitch]="vali">
    <ion-list *ngSwitchCase="'conf'">
      <div *ngIf="exist">
        <p>Usted ya tiene un número de celular asociado a su cuenta.<b *ngIf="!verificado"> Pero aun no está verificado</b> </p>
        <p red class="login-lbl-center errorLogin">{{mensajeErrorNum}}</p> 
        <ion-item>
          <ion-label floating>Número de celular</ion-label>
          <ion-input type="number" [(ngModel)]="numeroTef" ng-href="tel: {{numeroTef}}"></ion-input>
          <ion-icon class="login-icon-reg" name="phone-portrait" item-right></ion-icon>
        </ion-item>
        <p>
          <button ion-button color="secondary" block (click)="validateNum()" *ngIf="!verificado">Enviar Código</button>
          <button ion-button color="danger" block (click)="openMenu()">¿Borrar Número?</button>
        </p>
      </div>
      <div *ngIf="!exist">
        <p>Ingrese el número de celular, el cual será asociado a su cuenta.</p>
        <p red class="login-lbl-center errorLogin">{{mensajeErrorNum}}</p> 
        <ion-item>
          <ion-label floating>Número de celular</ion-label>
          <ion-input type="tel" [(ngModel)]="numeroTef" ng-href="tel: {{numeroTef}}" ></ion-input>
          <ion-icon class="login-icon-reg" name="phone-portrait" item-right></ion-icon>
        </ion-item>
        <p>
          <!--<button ion-button color="secondary" block>Siguiente</button>-->
         
          <button ion-button color="secondary" block (click)="validateNum()">Guardar</button>
        
        </p>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'send'">
      <p>Se ha enviado un mensaje de texto al número <b>{{numeroTef}}</b>.</p>
      <ion-item>
        <p red class="login-lbl-center errorLogin">{{mensajeErrorCodeSend}}</p>
        <ion-label floating>Ingrese código de verificación</ion-label>
        <ion-input type="number" [(ngModel)]="codeRecive"  ></ion-input>
          <ion-icon class="login-icon-reg" name="key" item-right></ion-icon>
        
      </ion-item>
      <p>
        <button ion-button color="secondary" block (click)="compararCodeSend()">Enviar</button>
      </p>
    </ion-list>

    <ion-list *ngSwitchCase="'done'">
      <h2 color="secondary">Cuenta Verificada</h2>
      <div class="img-tnk"><img src="../www/build/images/smile.png"></div>
      <p>¡Tu cuenta ahora esta verificada, ya puedes realizar tus comprar sin problemas!</p>
      <p>
        <!--<button ion-button color="secondary" block (click)="onPageBack()">¡Vamos a Comprar!</button>-->
      </p>
    </ion-list>
  </div>
</ion-content>