.validation {
  p.errorLogin{
        color: rgba(228, 2, 45, .8);
        font-style: italic;
    }
  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }
  h2, img{
    text-align: center;
  }

}