ion-thumbnail img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

ion-badge {
    border-radius: 50%;
    color: #fff;
    background-color: #20ac76;
    height: 2rem;
    width: 2rem;
    padding: 3px 0 0 0;
    margin: 0;
}