<ion-header>
  <ion-navbar primary>
    <ion-title>Menú</ion-title>

    <!--CARRITO-->
    <ion-buttons *ngIf="lista_productos && lista_productos.length > 0" (click)="verCarrito()" end>      
      <button round>        
      <ion-icon item-left name="md-cart" ></ion-icon> 
      <ion-badge round>{{lista_productos.length}}</ion-badge>      
      </button>  
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let plato of platos" (click)="presentModal(plato.id_plato)">
      <ion-thumbnail item-left>
        <img src="{{plato.ruta_foto}}">
      </ion-thumbnail>
      <h2>{{plato.nombre_producto}}</h2>
      <p>{{plato.descripcion}}</p>
      <ion-icon item-right secondary name="md-add-circle"></ion-icon>

    </ion-item>
  </ion-list>

  <!-- CAMBIOS PARA LA VERSION 2.1 -->


  <!--<ion-footer color="secondary" *ngIf="lista_productos  && lista_productos.length > 0">

   <ion-toolbar>
      <ion-title> <button ion-button color="secondary" item-right (click)="verCarrito()">CARRITO</button></ion-title>
    </ion-toolbar>
  </ion-footer>-->
</ion-content>
<!-- FIN CAMBIOS PARA LA VERSION 2.1 -->